/* HEADER  */

header
{
	background: url(https://user-images.githubusercontent.com/40268008/57588662-b1407580-7517-11e9-989d-11ba0b931654.png) repeat-x bottom;
}

h1
{
	text-align: center;
}

/* BANNIÈRE */

#banniere img
{
	box-shadow: 0px 6px 6px #111;
	border-radius: 15px;
	margin-top: 10px;
}

/* BODY */

body
{
	background-image: url(https://user-images.githubusercontent.com/40268008/57588659-b0a7df00-7517-11e9-9c35-a2d90aaff9ea.png);
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: #111;
}

#bloc_page

{	width: 71%;
	margin: auto;
	font-family: Verdana, Arial, sans-serif
}

section h2
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
}

.presentation
{
	display: flex;
	margin-bottom: 30px;
	margin-top: 30px;
}

.presentation aside
{
	flex: 1.2;
	position: relative;
	background-color: #282923;
	color: #FFF;
	border-radius: 10px;
	box-shadow: 0px 6px 6px #111;
	padding: 13px;
	font-size: 0.8em;
	text-align: justify;
}

#article
{
	display: flex;
	flex-wrap: wrap;
	margin-left: 25px;
}

p span
{
	font-style: italic;
}

#photo_profil
{
	text-align: center;
}

.ico_categorie
{
	vertical-align: middle;
	margin-right: 8px;
}

/* FOOTER */

footer
{
	background: url(https://user-images.githubusercontent.com/40268008/57588662-b1407580-7517-11e9-989d-11ba0b931654.png) repeat-x top;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

footer h2
{
	
	text-align: center;
}


/* RESPONSIVE */

@media screen and (max-width: 1024px)
{
	#bloc-page{ width: auto;}
}

@media all and (max-width: 1024px)
{
	#banniere
	{display: none;}

	section
	{flex-direction: column;}

	article, aside
	{width: auto; margin-bottom: 15px;}

	#photo_profil img
	{width: 110px; float: right; margin-left: 15px;}

	#linkedin
	{margin-right: 100px;}

	#contact p, #certif li
	{font-size: 0.7em;}

}
